/*Global*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  background: #222831;
  min-height: 100vh;
}

#root {
  max-width: 100%;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header,
footer {
  background: #393e46;
  height: 6rem;
}

footer {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.genres span {
  border-left: #eeeeee 2px solid;
  height: 100%;
}

.genres span:first-of-type {
  border-left: none;
  padding-left: 0;
}

.genres span:last-of-type {
  margin-right: 0;
}

/*buttons animation*/
button {
  display: inline-block;
}

button:link,
button:visited {
  transition: all 0.2s;
}

button:active,
.back-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*TvShows component*/

h1.no-shows {
  color: #eeeeee;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.tv-shows {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tv-show {
  padding: 0;
  width: 20rem;
  margin: 3rem;
}

.tv-show:link,
.tv-show:visited {
  transition: all 0.2s;
}

.tv-show:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.tv-shows article:nth-child(5n) {
  margin-right: 0;
}

.tv-show:first-child {
  margin-left: 0;
}

.tv-shows article:nth-child(6n) {
  margin-left: 0;
}

.tv-show a {
  font-size: 1.5rem;
  background: #393e46;
  color: #eeeeee;
  border-radius: 1rem;
  width: 100%;
}

.tv-show a h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.tv-show a .img-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;

  position: relative;
}

.tv-show a .info {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background: #393e46;
  transform: translate(0, -5px);
}

.tv-show a .info .genres {
  margin-bottom: 0.5rem;
}

.tv-show .genres span {
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.tv-show a:hover .cover {
  background: #222;
  opacity: 50%;
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
}

.tv-show a:hover {
  -webkit-box-shadow: -2px 1px 15px 0px #111;
  -moz-box-shadow: -2px 1px 15px 0px #111;
  box-shadow: -2px 1px 15px 0px #111;
}

/*TvSingle component*/

.tv-single {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.tv-single .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tv-single .b-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  opacity: 0.35;
  filter: blur(20px);
}

.tv-single .info-cover {
  width: 25%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.tv-single section {
  width: 100%;
}

.header-single .container {
  display: block;
  text-align: left;
}

.header-single .btn-container {
  transform: translate(0, 60%);
}

.header-single button {
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.header-single .back-btn a,
.fav-btn a,
.to-fav a {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  color: #222831;
  padding: 0.5rem;
  display: inline-block;
}

.header-single .to-fav {
  margin-left: 2.5rem;
}

.header-single .back-btn:hover a,
.to-fav:hover a {
  background-color: #fff;
}

.tv-single .fav-btn,
.tv-single .remove-btn {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ae34d3;
  color: #eeeeee;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.tv-single .fav-btn:hover {
  background-color: #b758d4;
  cursor: pointer;
}

.tv-single .remove-btn {
  background-color: rgb(224, 22, 22);
}

.tv-single .remove-btn:hover {
  background-color: rgb(204, 74, 74);
  cursor: pointer;
}

.tv-single .img-container {
  width: 20%;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
}

.tv-single .main-info {
  width: 40%;
}

.tv-single .side-info {
  font-size: 1.5rem;
  width: 25%;
  color: #eeeeee;
}

.tv-single h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.tv-single .genres {
  margin-bottom: 5rem;
}

.tv-single .genres span {
  padding-left: 1rem;
  margin-right: 1rem;
}

.tv-single .summary {
  font-size: 2rem;
}

/*Search component*/

.header-search {
  color: #eeeeee;
  text-align: center;
}

.search {
  transform: translate(0, 50%);
  margin: 0 auto;
}

.search h3 {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

.search .fav-btn {
  margin-left: 3rem;
}

/*Favourites*/

.header-favourites .btn-container {
  transform: translate(0, 60%);
}

.header-favourites button {
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.header-favourites .back-btn a {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  color: #222831;
  padding: 0.5rem;
  display: inline-block;
}

.header-favourites .back-btn:hover a {
  background-color: #fff;
}
