/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*Global*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  background: #222831;
  height: 100%;
}

#root {
  max-width: 100%;
  padding: 0;
  height: 100%;
  position: relative;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

header,
footer {
  background: #393e46;
  height: 6rem;
}

header .container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.genres span {
  border-left: #eeeeee 2px solid;
  height: 100%;
}

/*buttons animation*/
button {
  display: inline-block;
}

button:link,
button:visited {
  transition: all 0.2s;
}

button:active,
.back-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*TvShows component*/

h1.no-shows {
  color: #eeeeee;
  font-size: 2.5rem;
  margin-top: 5rem;
  text-align: center;
}

.tv-shows {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tv-shows .container {
  padding-right: 5rem;
}

.tv-show {
  padding: 0;
  width: 200px;
  height: 450px;
  margin-left: 3rem;
  margin-top: 3rem;
}

.tv-show:link,
.tv-show:visited {
  transition: all 0.2s;
}

.tv-show:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.tv-show a {
  display: inline-block;
  font-size: 1.5rem;
  background: #393e46;
  color: #eeeeee;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
}

.tv-show a h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.tv-show a .img-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;

  position: relative;
}

.tv-show a .info {
  padding: 2rem 1rem;
  background: #393e46;
  transform: translate(0, -5px);
}

.tv-show a .info .genres {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.tv-show .info .rating {
  font-size: 1.3rem;
}

.tv-show .genres span {
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.tv-show .genres span:first-of-type {
  border-left: none;
  padding-left: 0;
}

.tv-show .genres span:last-of-type {
  margin-right: 0;
}

.tv-show a:hover .cover {
  background: #222;
  opacity: 50%;
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
}

.tv-show a:hover {
  -webkit-box-shadow: -2px 1px 15px 0px #111;
  -moz-box-shadow: -2px 1px 15px 0px #111;
  box-shadow: -2px 1px 15px 0px #111;
}

.tv-show .star {
  color: #b758d4;
  position: absolute;
  font-size: 2.5rem;
  top: 2%;
  right: 2%;
  z-index: 1;
}

/*TvSingle component*/

.tv-single {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.tv-single .container {
  position: relative;
  padding: 0;
}

.tv-single section {
  display: flex;
  justify-content: space-between;
}

.tv-single .b-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  opacity: 0.35;
  filter: blur(20px);
}

.tv-single .b-img image {
  max-height: 100%;
}

.tv-single .info-cover {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.tv-single section {
  width: 100%;
}

/*header-single*/

.header-single .to-fav {
  margin-left: 2.5rem;
}

.header-single .back-btn:hover a,
.to-fav:hover a {
  background-color: #fff;
}

.tv-single .fav-btn,
.tv-single .remove-btn {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ae34d3;
  color: #eeeeee;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.tv-single .fav-btn:hover {
  background-color: #b758d4;
  cursor: pointer;
}

.tv-single .remove-btn {
  background-color: rgb(224, 22, 22);
}

.tv-single .remove-btn:hover {
  background-color: rgb(204, 74, 74);
  cursor: pointer;
}

/*header-single end*/

.tv-single .img-container {
  width: 20%;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
  padding: 6rem 0;
}

.tv-single .main-info {
  width: 40%;
  padding: 6rem 0;
}

.tv-single h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.tv-single .side-info {
  font-size: 1.5rem;
  width: 25%;
  color: #eeeeee;
  text-align: left;
  padding-top: 6rem;
  position: relative;
}

.tv-single .genres {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 2rem;
  padding: 1rem 0;
  max-width: 100%;
  display: flex;
}

.tv-single .genres ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tv-single .genres ul li {
  margin-left: 1rem;
}

.tv-single .side-info p {
  margin: 0 2rem;
}

.tv-single .side-info .details p {
  margin-bottom: 2rem;
}

.tv-single .side-info .details p:last-of-type {
  margin-bottom: 0;
}

.tv-single .genres span {
  padding-left: 1rem;
  margin-right: 1rem;
}

.tv-single .genres span:first-of-type {
  border-left: none;
}

.tv-single .genre span:last-of-type {
  margin-right: 0;
}

.tv-single hr:first-of-type {
  margin-bottom: 1rem;
}

.tv-single hr:last-of-type {
  margin-top: 1rem;
}

.tv-single .summary {
  font-size: 2rem;
}

.tv-single .cast {
  margin-top: 2rem;
}

.tv-single .cast ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 2rem;
}

.tv-single .cast li {
  width: 45%;
  height: auto;
  margin-bottom: 1rem;
}

.tv-single .cast a {
  text-decoration: none;
  color: #eeeeee;
}

.tv-single .cast a:hover {
  color: #fff;
}

.tv-single .cast .icon-container {
  border-radius: 50%;
  overflow: hidden;
}

.tv-single .cast p {
  text-align: center;
  margin: 1rem 0;
}

.tv-single .cast .cast-title {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

/*Search component*/

.header-search {
  color: #eeeeee;
}

.search {
  margin: 0 auto;
}

.search h3 {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

.search .fav-btn {
  margin: 0 3rem;
}

.search input {
  width: 20rem;
  height: 3rem;
  padding: 0 2rem;
  font-size: 1.8rem;
}

/*Favourites*/

.header-favourites .to-fav {
  display: none;
}

.favourites .no-fav {
  font-size: 2.5rem;
  color: #eeeeee;
  margin-top: 4rem;
}

.favourites .remove {
  color: #d84944;
  position: absolute;
  font-size: 2.5rem;
  top: 2%;
  right: 2%;
  z-index: 1;
}

/*Header*/

header button {
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  padding: 0.5rem;
  display: inline-block;
}

header button a {
  color: #222831;
}

header button:hover a {
  background-color: #fff;
}
