/*Global*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  background: #222831;
}

#root {
  max-width: 100%;
  padding: 0;
  min-height: 1vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: #393e46;
  height: 6rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.genres span {
  border-left: #eeeeee 2px solid;
  height: 100%;
}

.genres span:first-of-type {
  border-left: none;
  padding-left: 0;
}

.genres span:last-of-type {
  margin-right: 0;
}

/*TvShows component*/

.tv-shows {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tv-show {
  padding: 0;
}

.tv-show a {
  font-size: 1.5rem;
  background: #393e46;
  color: #eeeeee;
  width: 22rem;
  margin: 3rem;
  border-radius: 1rem;
  position: relative;
}

.tv-show a .h-container {
  height: 5rem;
  position: absolute;
  bottom: 10px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.tv-show a h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.tv-show a .img-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.tv-show a .info {
  margin-bottom: 2rem;
}

.tv-show a .info .genres {
  margin-bottom: 0.5rem;
}

.tv-show .genres span {
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.tv-show a:hover .cover {
  background: #222;
  opacity: 50%;
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
}

.tv-show a:hover {
  -webkit-box-shadow: -2px 1px 15px 0px #111;
  -moz-box-shadow: -2px 1px 15px 0px #111;
  box-shadow: -2px 1px 15px 0px #111;
}

/*TvSingle component*/

.header-single {
  margin-bottom: 12rem;
}

.header-single button {
  transform: translate(0, 47%);
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.header-single .back-btn a {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  color: #222831;
  padding: 0.5rem;
  display: inline-block;
}

.header-single .back-btn:hover a {
  background-color: #fff;
}

.header-single .fav-btn,
.header-single .remove-btn {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ae34d3;
  color: #eeeeee;
  padding: 0.5rem;
  display: inline-block;
  margin-left: 4rem;
}

.header-single .fav-btn:hover {
  background-color: #b758d4;
  cursor: pointer;
}

.header-single .remove-btn {
  background-color: rgb(224, 22, 22);
}

.header-single .remove-btn:hover {
  background-color: rgb(204, 74, 74);
  cursor: pointer;
}

.header-single .remove-btn:hover .tv-single {
  padding: 4rem 0;
  background: #393e46;
  width: 100%;
}

.tv-single .img-container {
  width: 20%;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
}

.tv-single .info {
  font-size: 1.5rem;
  width: 55%;
  padding-left: 100px;
  color: #eeeeee;
}

.tv-single h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.tv-single .genres {
  margin-bottom: 5rem;
}

.tv-single .genres span {
  padding-left: 1rem;
  margin-right: 1rem;
}

.tv-single .summary {
  font-size: 2rem;
}

/*Search component*/

header.header-search {
  color: #eeeeee;
}

.search {
  transform: translate(0, 80%);
}

.search h3 {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

/*Favourites*/

.header-favourites button {
  transform: translate(0, 47%);
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.header-favourites .back-btn a {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  color: #222831;
  padding: 0.5rem;
  display: inline-block;
}

.header-favourites .back-btn:hover a {
  background-color: #fff;
}
