/*Global*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  background: #222831;
}

#root {
  max-width: 100%;
  padding: 0;
  min-height: 1vh;
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

/*TvShows component*/

.tv-shows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tv-show {
  padding: 0;
}

.tv-show a {
  font-size: 1.5rem;
  background: #393e46;
  color: #eeeeee;
  width: 22rem;
  display: inline-block;
  margin: 3rem;
  border-radius: 1rem;
  position: relative;
}

.tv-show a .h-container {
  height: 5rem;
  position: absolute;
  bottom: 10px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.tv-show a h1 {
  font-size: 2.5rem;
}

.tv-show a .img-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.tv-show a img {
  width: 100%;
}

.tv-show a .info {
  margin-bottom: 2rem;
}

.tv-show a .info .genres {
  margin-bottom: 0.5rem;
}

.tv-show a:hover .cover {
  background: #222;
  opacity: 50%;
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
}

.tv-show a:hover {
  -webkit-box-shadow: -2px 1px 15px 0px #111;
  -moz-box-shadow: -2px 1px 15px 0px #111;
  box-shadow: -2px 1px 15px 0px #111;
}

/*TvSingle component*/

.wrapper {
  transform: translate(0, 30%);
  background: #393e46;
  width: 100%;
  padding: 10rem;
}

.tv-single {
  display: flex;
  flex-wrap: wrap;
}

.tv-single .img-container {
  width: 20%;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
}

.tv-single img {
  width: 100%;
}

.tv-single .info {
  font-size: 1.5rem;
  width: 55%;
  padding-left: 100px;
  color: #eeeeee;
}

.tv-single h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.tv-single .genres {
  margin-bottom: 5rem;
}

.tv-single .genres span {
  border-left: #eeeeee 2px solid;
  padding-left: 1rem;
  margin-right: 1rem;
  height: 100%;
}

.tv-single .genres span:first-of-type {
  border-left: none;
  padding-left: 0;
}

.tv-single .genres span:last-of-type {
  margin-right: 0;
}

.tv-single .summary {
  font-size: 2rem;
}

.tv-single a button {
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #eeeeee;
  color: #222831;
}

.tv-single a button:hover {
  background-color: #222831;
  border: 1px solid #eeeeee;
  color: #eeeeee;
}
